#btnIMC {
    -fx-background-image: url(../utilitairejavafx/imcLogo.png);
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px;
}

#btnLibrary {
    -fx-background-image: url(../utilitairejavafx/booklogo.png);
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px;
}

#btnConvert {
    -fx-background-image: url(../utilitairejavafx/convertlogo.png);
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px ;
}

#btnSim {
    -fx-background-image: url(../utilitairejavafx/armylogo.png);
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px;


}